@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root{
    --color-white: #ffffff;
    --color-orange: #ff6f00;
    --color-vert: #40954a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1rem;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


a, a:hover{
    text-decoration: none;
}

p{
    font-size: 1.6rem;
    font-weight: 200;
}

li{
    list-style: none;
}

h2{
    font-size: 3rem;
    color: var(--color-vert);
    border-left: var(--color-orange) 4px solid;
    padding-left: 1rem;
}

/*******************************sit-header******************/
/**********************************************************/

.site-heade{
    margin-right: 1.5rem;
}

.site-header {
    height: 9rem;
}

.h-text{
    margin-top: 3rem;
}

.h-text h5{
    font-weight: bold;
}

.h-text p{
    font-size:  2rem;
}


.logo{
    height: 9rem;
}

.logo1{
    height: 9rem;
}
/*******************************header******************/
/**********************************************************/

.header{
    background:linear-gradient(rgba(44, 253, 2, 0.5), rgb(250, 163, 0, 0.9)),  url(../images/virus2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    width: 100%;
}

.orange{
    color: var(--color-orange);
}

.text-header{
    color: white;
    padding-top: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0,-50%);
    text-align: right;
}

.text-header h1{
    font-size: 6rem;
    font-weight: bold;
}

/*header-end***********************************************/
/********************************************************/
.premier{
    color: var(--color-vert);
    font-weight: bold;
    text-decoration: underline;
}

.rouge{
    color: red;
    font-size: 2.5rem;
}
/**********************************card1**********************************************/

.card1{
    border: 1px solid var(--color-vert);
    margin-top: 1rem;
    background: transparent;
    width: 100%;
}

.card1 li {
    list-style: none;
 }

.menu ul li a{
   color: #40954a;
   font-size: 1.4rem;
}

.card1:hover{
    border-left: 4px solid orange;
}

.vert1{
    color:var(--color-vert);
}

/******************Nav Bar***************************************************************/
.img1{
    height: 6rem;
}

.menu-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.toggler{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}

.hamburger{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: rgba(247, 170, 6, 0.925);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hamburger>div{
    position: absolute;
    width: 50%;
    height: .3rem;
    border-radius: 1.5px;
    background-color:var(--color-vert);
    transition: .3s;
}

.hamburger>div::before,.hamburger>div::after{
    content: '';
    position: absolute;
    width: 100%;
    height: .3rem;
    border-radius: 1.5px;
    background-color: var(--color-vert);
    transition: .3s;
}

.hamburger>div::before{
    top: -1rem;
}

.hamburger>div::after{
    top: 1rem;
}

.toggler:checked +.hamburger>div{
    transform: rotate(135deg);
}

.toggler:checked:hover +.hamburger>div{
    transform: rotate(225deg);
}

.toggler:checked +.hamburger>div::after,.toggler:checked +.hamburger>div::before{
    transform: rotate(90deg);
    top: 0;
}

.toggler:checked ~ .menu{
    visibility: visible;
}

.toggler:checked ~ .menu >div{
    transform: translateX(-50%) translateY(-50%);
}

.toggler:checked ~ .menu >div>div{
    opacity: 1;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: .5s;
    width: 100vw;
    height: 100vh;
}

.menu>div {
    position: absolute;
    width: 30rem;
    height: 160rem;
    top: 50%;
    left: 15%;
    transform: translateX(-150%) translateY(-50%);
    background-color: rgba(252, 249, 249, 0.9);
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu>div>div{
    max-width: 90vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity:0;
}

.menu > div > div > ul > li{
    list-style: none;
}

.menu > div > div > ul > li > a {
    text-decoration: none;
    margin: .5rem;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 550;
    text-transform: uppercase;
    color:#fff;
    transition: .3s;
    }

    /*******************************section1******************/
/**********************************************************/

marquee p{
    font-size: 1.7rem;
}

    /*section2************************************************/
/**********************************************************/

.card2{
    background-color:rgb(161, 201, 253) ;
}

.card2 h3{
    font-size: 3rem
}

.card2 p{
    font-size: 4rem;
}

.card3{
    background-color:rgb(205, 253, 150) ;
}

.card3 h3{
    font-size: 3rem
}

.card3 p{
    font-size: 4rem;
}

.card4{
    background-color:rgb(255, 130, 130) ;
}

.card4 h3{
    font-size: 3rem
}

.card4 p{
    font-size: 4rem;
}

/*section3************************************************/
/**********************************************************/

#section3{
    margin-top: 7rem;
}

.info h2{
    font-size: 3rem;
    color: var(--color-vert);
    border-left: var(--color-orange) 4px solid;
    padding-left: 1rem;
}
.info p{
    font-size: 1.7rem;
    margin-top: 2rem;
}

.virus{
    height: 25rem;
    margin-top: 2rem;
    animation: animate .3s linear infinite;
    transition: .5s ease-in-out;
    margin-left: 10rem;
}

@keyframes animate
{
    0%
    {
        transform: rotate(10deg);
    }

    40%
    {
        transform: rotate(20deg);
    }

    80%
    {
        transform: rotate(30deg);
    }

    100%
    {
        transform: rotate(40deg);
    }
}

/*section4************************************************/
/**********************************************************/

#section4{
    margin-top: 7rem;
}

.Symptomes h2{
    font-size: 3rem;
    color: var(--color-vert);
    border-left: var(--color-orange) 4px solid;
    padding-left: 1rem;
}

.Symptomes p{
    font-size: 1.7rem;
}

.signs{
    margin: 2rem 0;
}

.signs li{
    font-size:1.8rem ;
    padding: 1rem 0;
}

.card5{
    padding: 3rem;
    position: relative;
    border: 1px solid rgb(37, 36, 36);
    background-color:#f9fafc ;
}

.imglu{
    height: 6rem;
    position: absolute;
    margin-left: -5rem;
    margin-top: -5rem;
}
/*section5************************************************/
/**********************************************************/

#section5{
    margin-top: 7rem;
}

.propagation{
    margin-top: 4rem;
}

.propagation h4{
    font-weight: bold;
    margin-top: 1rem;
}

/*section6************************************************/
/**********************************************************/
#section6{
    margin-top: 7rem;
}

.worry{
    margin-top: 4rem;
}

.card6 {
    padding:2rem ;
    margin-bottom: 4rem;
    border: 1px solid #ccc;
    background-color: #f9fafc;
}


/*section7************************************************/
/**********************************************************/

#section7{
    margin-top: 7rem;
}

.protection h2{
    font-size: 3rem;
    color: var(--color-vert);
    border-left: var(--color-orange) 4px solid;
    padding-left: 1rem;
}

.info2{
    margin-top: 8rem;
}

.info2 p{
    font-size: 1.8rem;
    margin-left: 2rem;
}

.img{
    height: 9rem;
}
/*section8************************************************/
/**********************************************************/
#section8{
    margin-top:7rem ;
}

.doctor ul li{
    font-size: 2rem;
    list-style: circle;
}


.vert{
    color: #40954a;
    font-size: 4rem;
}
/*section9************************************************/
/**********************************************************/

#section9{
    margin-top: 7rem;
}

.tableau{
    border: 2px solid #ccc;
}

.tableau th{
    font-size: 2rem;
}

.tableau td{
    font-size: 2rem;
}

/*section10************************************************/
/**********************************************************/

.alert h3{
    font-size: 3rem;
    color: red;
}
.alert p{
    font-size: 1.8rem;
}


/***************footer*********************/
/***************************************/

.footer{
    margin-top: 12rem;
}

.footer h4{
    font-weight: bold;
    color: var(--color-secondary);
    font-size: 3rem;
    text-decoration: underline ;
    text-align: center;
}

.footer ul li{
    font-size: 2rem;
    text-align: center;
}

.footer ul {
    margin-top: 2rem;
}

.footer ul li a{
    color: var(--color-black);
}

.B-icon-footer {
    height: 5rem;
    width: 5rem;
    margin-left: 3rem;
    padding-left: .2rem;
}

.logofooter{
    height: 10rem;
    width: 15rem;
}

/************************footer2********/

.footer2{
    background-color: var(--color-vert);
}

.footer2 p{
    color: white;
    text-align:center;
}

/******************************************mediaqueries*************************************************************************/
/************************************************************************************************************************************/

@media screen and (max-width: 998px){

    .h-text{
        margin-top: 0;
    }
    
    .h-text h5{
        font-size: 0;
    }
    
    .h-text p{
        font-size:  0rem;
    }

    .logo{
        height: 6rem;
        align-items: center;
    }

    .logo1{
        height: 0;
    }
    
    .text-header{
        color: white;
        padding-top: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    
    .text-header h1{
        font-size: 3rem;
        font-weight: bold;
    }

    .imglu{
        height: 0;
        position: absolute;
        margin-left: -5rem;
        margin-top: -5rem;
    }
}

@media screen and (max-width: 700px){

    

    .logo{
        height: 6rem;
    }

    
    .text-header{
        color: white;
        padding-top: 2rem;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    
    .text-header h1{
        font-size: 3rem;
        font-weight: bold;
    }

    .header{
        background: linear-gradient(rgba(44, 253, 2, 0.5), rgb(250, 163, 0, 0.9)) ;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 50vh;
        width: 100%;
    }

    .virus{
        height: 0;
    }

    .section1 marquee p{
        font-size: 0rem;
    }

    .section1 marquee span{
        font-size: 0rem;
    }

    .menu>div {
        position: absolute;
        width: 160rem;
        height: 160rem;
        top: 50%;
        left: 50%;
        transform: translateX(-150%) translateY(-50%);
        background-color: rgba(252, 249, 249, 0.9);
        transition: .5s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}



